{% extends 'base.html.twig' %}

{% block body %}
    {%  include 'template/header.html.twig' %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    {%  include 'template/footer.html.twig' %}

{% endblock %}