{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container-fluid text-center">
        <h2>Contactar</h2>
        <hr style="width: 100px; margin: 40px auto" class="half-rule">
        <div class="alert alert-danger">
            <p>Ops! Estamos trabajando para solucionarlo pronto...</p>
            <p>Sentimos las molestias!</p>
        </div>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}